@import url(./reset.css);
.toDoApp{
    background: rgb(101,224,206);
    background: linear-gradient(135deg, rgba(101,224,206,1) 20%, rgba(81,157,223,1) 77%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px 10px 30px;
        height: auto;
        position: relative;
        align-items: center;
        h1{
            font-size: 23px;
            font-family: 'Matemasie',sans-serif;
            margin-bottom: 15px;
            letter-spacing: 2px;
        }
        input{
           padding: 7px 40px;
           margin-bottom: 10px;
        }
        input:focus{
            outline: none;
        }
        #btn{
            padding:7px 15px;
            background-color: #8e49e8;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
        }
        #btn:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }

    .list-count{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        p{
            font-size: 15px;
            color: grey;
            letter-spacing: 0;
            margin-right: 50px;
            span{
                color:#e66465 ;
                font-weight: bold;

            }

        }
        #clear{
            font-size: 12px;
            padding: 5px 15px;
            background-color: #8e49e8;
            color: white;
            border-radius: 5px;
            font-weight: 700;
            margin-left: 10px;
        }
        #clear:hover{
           transform: translateY(-2px);
           transition: all .3s ease;
        }
    }
}